InheritParentConfig: true
# Doctest macros generate static functions (misc-use-anonymous-namespace) and
# do-while loops (cppcoreguidelines-avoid-do-while) that can't be fixed in user
# code.  bugprone-unchecked-optional-access fires after REQUIRE(.has_value())
# because clang-tidy's flow analysis doesn't see through the REQUIRE macro and
# cannot determine that the guarded dereferences below it are safe.
Checks: "-cppcoreguidelines-avoid-do-while,-misc-use-anonymous-namespace,-bugprone-unchecked-optional-access"
