InheritParentConfig: true
# Doctest macros generate static functions (misc-use-anonymous-namespace) and
# do-while loops (cppcoreguidelines-avoid-do-while) that can't be fixed in user
# code.
Checks: "-cppcoreguidelines-avoid-do-while,-misc-use-anonymous-namespace"
